@import 'https://fonts.googleapis.com/css?family=VT323:400';
@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 700vh;
  /* font-family: "VT323", monospace; */
  /*font-size: 16px;*/
  line-height: 1.875em;
  margin: 0px;
}

.waddle-dee {
  position: fixed;
  left: calc(50% - 4.5rem);
  z-index: 40;
  top: 12rem;
  transform-origin: center -7rem;
  animation: sway-sm 5s infinite linear;
}

.waddle-dee.is-sitting {
  position: absolute;
  width: auto;
  animation: auto;
}

.waddle-dee.is-sitting .parasol {
  transform: translateY(-2000px) translateX(-50%);
  transition: transform 3s ease-out;
}

.waddle-dee.is-sitting .waddle-arm-left {
  transform: scale(0.8) rotate(-90deg);
}

.waddle-dee.is-sitting .waddle-arm-right {
  transform: scale(0.8) rotate(70deg);
  animation: arm-wave-right 0.6s 0.45s infinite;
}

.waddle-body {
  top: -1.1rem;
  position: relative;
  height: 7.75rem;
  width: 8.5rem;
  background-color: #f6ac29;
  border-top-left-radius: 50% 60%;
  border-top-right-radius: 50% 60%;
  border-bottom-left-radius: 3.5rem 40%;
  border-bottom-right-radius: 3.5rem 40%;
  border: solid 4px #e2940a;
  overflow: hidden;
  transform: scale(0.8);
}

.waddle-face {
  position: absolute;
  top: 1.5rem;
  left: 50%;
  background-color: #ffeed5;
  height: 3rem;
  width: 5.5rem;
  border-top-left-radius: 45% 80%;
  border-top-right-radius: 45% 80%;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transform: translateX(-50%);
}

.waddle-face::after {
  content: '';
  position: absolute;
  top: calc(100% - 0.75rem);
  left: 50%;
  height: 3.25rem;
  width: 6.5rem;
  background-color: #ffeed5;
  border-top-left-radius: 40% 60%;
  border-top-right-radius: 40% 60%;
  border-bottom-left-radius: 60% 55%;
  border-bottom-right-radius: 60% 55%;
  transform: translateX(-50%);
}

.waddle-blush {
  position: absolute;
  z-index: 2;
  top: 2.75rem;
  height: 0.75rem;
  width: 1.25rem;
  background-color: #e67b94;
  border-radius: 50%;
  opacity: 0.4;
}

.waddle-blush-left {
  left: -0.125rem;
}

.waddle-blush-right {
  right: -0.125rem;
}

.waddle-eye {
  position: absolute;
  z-index: 3;
  top: 1.25rem;
  height: 2rem;
  width: 0.75rem;
  background-color: #444;
  border-radius: 0.5rem/0.75rem;
  overflow: hidden;
  transform-origin: center 70%;
  animation-name: blinky;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

.waddle-eye::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 0.125rem;
  height: 40%;
  width: calc(100% - 0.125rem * 2);
  border-radius: 40%;
  background-color: #fff;
  transform: translateX(-50%);
}

.waddle-eye-left {
  left: 1.5rem;
}

.waddle-eye-right {
  right: 1.5rem;
}

.waddle-arm {
  position: absolute;
  top: -2.75rem;
  height: 3.5rem;
  width: 3.25rem;
  border-top-left-radius: 60% 85%;
  border-top-right-radius: 60% 85%;
  border-bottom-left-radius: 20% 10%;
  border-bottom-right-radius: 20% 10%;
  border: solid 4px #e2940a;
  background-color: #e2940a;
  transform-origin: center 5rem;
  transition: 0.25s ease-out;
  transform: scale(0.8);
}

.waddle-arm-left {
  left: 1.5rem;
}

.waddle-arm-right {
  right: 1.5rem;
}

.waddle-foot {
  position: absolute;
  bottom: 1.4rem;
  height: 3.4rem;
  width: 2.6rem;
  border-top-left-radius: 50% 60%;
  border-top-right-radius: 50% 60%;
  border-bottom-left-radius: 50% 30%;
  border-bottom-right-radius: 50% 30%;
  border: solid 4px #e2940a;
  background-color: #ffde5a;
}

.waddle-foot-left {
  left: 0.35rem;
  transform: rotate(-40deg);
  transform-origin: center 70%;
  animation: foot-rotate-left 3s infinite linear;
}

.waddle-foot-right {
  right: 0.35rem;
  transform-origin: center 70%;
  transform: rotate(40deg);
  animation: foot-rotate-right 3s infinite linear;
}

.waddle-dee-the-second {
  position: absolute;
  top: -4rem;
  z-index: -1;
  transform: scale(0.8);
}

.waddle-dee-the-second .sign {
  position: absolute;
  left: calc(100% - 1rem);
  bottom: calc(100% - 1.3rem);
  padding: 0.3rem 0.3rem;
  border-radius: 1rem;
  border: solid 5px #e2940a;
  background-color: #ffeed5;
  font-size: 2.5rem;
  line-height: 1;
  text-transform: uppercase;
  color: #f6ac29;
  transform: rotate(50deg);
  transform-origin: -6rem -5rem;
  animation: sign-flick 0.3s 1s forwards;
}

.waddle-dee-the-second .waddle-eye {
  animation-delay: 0.4s;
}

.waddle-dee-the-second .waddle-arm-left {
  transform: rotate(-120deg) scale(0.8);
}

.waddle-dee-the-second .waddle-arm-right {
  transform: rotate(120deg) scale(0.8);
  animation: arm-flick 0.3s 1s forwards;
  right: 2.3rem;
}

.parasol {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%) scale(0.8);
  transition: transform 0.5s ease-out;
}

.parasol::after {
  content: '';
  position: absolute;
  top: -5rem;
  left: 50%;
  width: 0.5rem;
  height: 1.5rem;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  background-color: #ffde5a;
  transform: translate(-50%, -50%);
}

.parasol-stick {
  position: relative;
  bottom: 0;
  height: 5rem;
  width: 0.5rem;
  background-color: #fff;
}

.parasol-stick::after {
  content: '';
  position: absolute;
  left: -50%;
  bottom: 0;
  width: 200%;
  height: 2.5rem;
  border-radius: 0.25rem;
  background-color: #ffde5a;
}

.parasol-top {
  position: absolute;
  z-index: 2;
  left: 50%;
  bottom: calc(100% - 1rem);
  width: 12rem;
  transform: translateX(-50%);
}

.parasol-top-material {
  position: absolute;
  bottom: 0.75rem;
  width: 100%;
  height: 5rem;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  background-color: #fff;
  overflow: hidden;
}

.parasol-top-material::after {
  content: '';
  position: absolute;
  left: 20%;
  height: 100%;
  width: 60%;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  background-color: #ee3131;
}

.parasol-top-footer {
  display: flex;
  position: absolute;
  bottom: 0;
  height: 0.75rem;
  width: 100%;
  overflow: hidden;
}

.parasol-top-footer-center,
.parasol-top-footer-left,
.parasol-top-footer-right {
  position: relative;
}

.parasol-top-footer-center {
  width: 60%;
  height: 120%;
  background-image: radial-gradient(at bottom,
      rgba(238, 49, 49, 0) 70%,
      #ee3131 70%);
}

.parasol-top-footer-left {
  left: 0;
  width: 20%;
  height: 120%;
  background-image: radial-gradient(at bottom left,
      rgba(255, 255, 255, 0) 70%,
      white 70%);
}

.parasol-top-footer-right {
  right: 0;
  width: 20%;
  height: 120%;
  background-image: radial-gradient(at bottom right,
      rgba(255, 255, 255, 0) 70%,
      white 70%);
}

.cloud {
  position: absolute;
  width: 6rem;
  height: 3rem;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #ffeed5;
  transform: scale(0.8);
}

.cloud::before,
.cloud::after {
  position: absolute;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: #ffeed5;
}

.cloud-medium {
  width: 10rem;
  height: 4rem;
}

.cloud-medium::after {
  content: '';
  right: -4rem;
  bottom: 0;
  width: 7rem;
  height: 3.5rem;
}

.cloud-large {
  width: 14rem;
  height: 5rem;
}

.cloud-large::before {
  content: '';
  left: -1.5rem;
  bottom: 0;
  width: 4rem;
  height: 2rem;
}

.cloud-large::after {
  content: '';
  right: -4rem;
  bottom: 0;
  width: 6rem;
  height: 3rem;
}

.cloud-1 {
  top: 20vh;
  left: 50%;
}

.cloud-2 {
  top: 70vh;
  left: 5%;
}

.cloud-3 {
  top: 110vh;
  left: 80%;
}

.cloud-4 {
  top: 160vh;
  left: 10%;
}

.cloud-5 {
  top: 200vh;
  left: 20%;
}

.cloud-6 {
  top: 260vh;
  left: 60%;
}

.cloud-7 {
  top: 300vh;
  left: 50%;
}

.cloud-8 {
  top: 370vh;
  left: 40%;
}

.cloud-9 {
  top: 420vh;
  left: 15%;
}

.cloud-10 {
  top: 490vh;
  left: 30%;
}

.cloud-11 {
  top: 530vh;
  left: 85%;
}

.cloud-12 {
  top: 580vh;
  left: 45%;
}

.cloud-13 {
  top: 610vh;
  left: 75%;
}

.star-block {
  position: relative;
  display: flex;
  height: 10rem;
  width: 10rem;
  border-radius: 1rem;
  border: solid 12px #ffeed5;
  background-color: #f6ac29;
  opacity: 0.5;
  transform: scale(0.8);
}

.star-block-star {
  position: relative;
  margin: 3rem auto 0;
  height: 4em;
  width: 4em;
  border-right: 4em solid transparent;
  border-left: 4em solid transparent;
  border-top: 3.5em solid #ffeed5;
  font-size: 0.75rem;
  border-radius: 0.5em;
}

.star-block-star::before,
.star-block-star::after {
  content: '';
  position: absolute;
  top: -3em;
  left: -4em;
  border-right: 4em solid transparent;
  border-left: 4em solid transparent;
  border-top: 3em solid #ffeed5;
  border-radius: 0.5em;
}

.star-block-star::before {
  transform: rotate(-69.75deg);
}

.star-block-star::after {
  transform: rotate(69.75deg);
}

.star-block-1 {
  top: 300vh;
  left: 20%;
}

.star-block-2 {
  top: 400vh;
  left: 75%;
}

.star-block-3 {
  top: 430vh;
  left: 10%;
}

.star-block-4 {
  top: 450vh;
  left: 40%;
}

.star-block-5 {
  top: 500vh;
  left: 15%;
}

.ground {
  position: absolute;
  top: 700vh;
  width: 100%;
  min-height: 1500px;
  height: auto;
  background-color: #de7b31;
  background-image: linear-gradient(to bottom, #de7b31 50%, #e28947 50%);
  background-size: 100% 70px;
}

.ground-grass {
  position: relative;
  height: 80px;
  border-top: solid 4px #e2940a;
  background-color: #d5cd31;
}

.ground-grass::after {
  content: '';
  position: absolute;
  top: 100%;
  width: 100%;
  height: 30px;
  background-image: radial-gradient(at top,
      #d5cd31 70%,
      rgba(213, 205, 49, 0) 70%);
  background-size: 80px 100%;
}

@keyframes sway {

  0%,
  100% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(25deg);
  }

  75% {
    transform: rotate(-25deg);
  }
}

@keyframes sway-sm {

  0%,
  100% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(5deg);
  }

  75% {
    transform: rotate(-5deg);
  }
}

@keyframes foot-rotate-left {

  0%,
  100% {
    transform: rotate(-40deg);
  }

  50% {
    transform: rotate(-60deg);
  }
}

@keyframes foot-rotate-right {

  0%,
  100% {
    transform: rotate(40deg);
  }

  50% {
    transform: rotate(60deg);
  }
}

@keyframes arm-wave-right {

  0%,
  100% {
    transform: scale(0.8) rotate(70deg);
  }

  50% {
    transform: scale(0.8) rotate(30deg);
  }
}

@keyframes blinky {

  0%,
  9%,
  11%,
  19%,
  21%,
  69%,
  71%,
  100% {
    transform: scaleY(1);
  }

  10%,
  20%,
  70% {
    transform: scaleY(0.1);
  }
}

@keyframes arm-flick {
  0% {
    transform: scale(0.8) rotate(120deg);
  }

  100% {
    transform: scale(0.8) rotate(80deg);
  }
}

@keyframes sign-flick {
  0% {
    transform: rotate(50deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

.topbar {
  /*background: #79B9D2;*/
  color: white;
  width: 100%;
  z-index: 9999;
  padding: 5px 20px;
}

.topbar h1 {
  /*cursor: pointer;*/
}

.topbar nav {
  margin-top: 25px;
}

.topbar nav ul {
  padding: 0;
  margin: 0;
}

.topbar nav ul li {
  display: inline-block;
  padding: 10px;
}

.topbar nav ul li a {
  color: white;
  text-decoration: none;
}

.dropbtn {
  background-color: #ff84deff;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  opacity: 0.8;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  opacity: 0.8;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #cc6bb3ff;
}

ul.post-grid {
  margin-left: 0;
  padding: 0;
  list-style-type: none;
  opacity: 1;
  margin-left: 0 !important;
  font-family: 'Open Sans', sans-serif;

  /*star-block  */
  position: relative;
  display: flex;
  height: 11rem;
  width: 10rem;
  border-radius: 1rem;
  border: solid 12px #ffeed5;
  background-color: #f6ac29;
}

ul.post-grid li {
  padding: 20px;
  margin-bottom: 20px;
  width: 1140px;
  height: 100%;
  cursor: pointer;
  transition: background linear 0.5s;
  opacity: 1;
}

ul.post-grid li h3 {
  display: inline;
}

ul.post-grid li cite {
  position: absolute;
  right: 1%;
  color: #ac8b4b;
  display: inline;
  font-family: 'VT323', monospace;
  font-size: 1.25rem;
}

ul.post-grid li:hover {
  background: #ffeed5;
  color: white;
}

ul.post-grid li:hover h3 {
  color: white;
}

.content {
  width: 100%;
  position: relative;
  padding: 20px 40px 20px;
}

/* h2,
h3 {
  color: #ffeed5;
} */

.post {
  -webkit-transition: 0.5s linear all;
  transition: 0.5s linear all;
  opacity: 1;
  padding-bottom: 30px;
  font-family: 'Open Sans', sans-serif;

  align-items: center;
  /*background: ##a2a4a6;*/
  border: 1px solid #a2a4a6;
  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 0px 0px 1px,
    rgba(0, 0, 0, 0.25) 0px 2px 4px 0px;
  /*display: flex;*/
  flex: 1 0 auto;
  justify-content: center;
  margin: 10px 0;
  /*max-height: 110px;*/
  /*min-width: 200px;*/
  /*max-width: 200px;*/
  overflow: hidden;
  padding: 20px;

  /*star-block  */
  /*position: relative;*/
  /*display: flex;*/
  /*height: 30rem;*/
  /*width: 30rem;*/
  border-radius: 1rem;
  border: solid 12px #ffeed5;
  background-color: #f6ac29;
}

.post p {
  font-size: 1.3rem;
}

.post cite {
  font-family: 'VT323', monospace;
  font-size: 1.25rem;
  display: inline-block;
  padding: 10px 0;
}

.comments ul {
  margin: 0;
  padding: 0;
}

.likeBtn {
  color: #f05f70;
  cursor: pointer;
}

.comments ul li {
  list-style-type: none;
  padding: 20px 5px;
  border-bottom: 1px #ffeed5 solid;
}

.post.ng-hide {
  opacity: 0;
}

.post.ng-hide-add,
.post.ng-hide-remove {
  display: block !important;
}

form {
  width: 100%;
}

input,
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 1.1em;
}

.ng-invalid.ng-dirty {
  border-color: red;
}

.ng-valid.ng-dirty {
  border-color: green;
}

img {
  max-width: 100%;
}

.sky-background {
  height: 700vh;
  background-color: #f9c872;
}

.post-section::before {
  /* animation: cloudAnimation 60s linear infinite; */
  background: transparent url(/ground-cloud.png) left top;
  position: absolute;
  content: '';
  height: 217px;
  width: 100%;
  top: -200px;
  overflow-x: hidden;
}

.post-section {
  background-image: linear-gradient(-180deg, #ffbd15 0%, #ffc862 100%);
  padding: 60px 0 205px 0;
  position: relative;
}

.post-section .bg {
  content: '';
  position: absolute;
  background: url(/bg_starpattern-white.png) repeat center center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.1;
}

.divide-line {
  position: absolute;
  background: url(/zig-zag-border.png);
  width: 100%;
  height: 35px;
  content: '';
  left: 0;
  top: -0.1rem;
  z-index: 3;
  opacity: 1;
}

.category {
  justify-content: center;
  position: relative;
}

.round-button {
  background-color: #7197ff;
  border: solid 3px transparent;
  border-color: #1423a5;
  padding: 2px 0;
}

.round-button:hover {
  border-color: white;
}

.round-button:hover::after {
  background-color: transparent;
}

.button-span {
  background-color: #2457e4;
  padding-top: 4px;
}

.button-span::before {
  border-radius: 50%;
  background-color: #1646c9;
}

.round-button::after {
  background-color: #1646c9;
  content: '';
  border-radius: 0 0 3em 3em;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 50%;
  width: 100%;
}

.article-link {
  --card-scale: 1;
  transform: scale(var(--card-scale));
  transition: transform 0.2s;
}

.article-link:hover {
  --card-scale: 1.05;
  transform: scale(var(--card-scale));
  transition: transform 0.2s;
}

.blog-title {
  color: #ffbd15;
}







/* Markdown Editor */
.w-md-editor-text-input,
.w-md-editor-text-pre>code,
.w-md-editor-text-pre {
  font-size: 1.125rem !important;
  line-height: 1.7 !important;
}

.wmde-markdown {
  line-height: 1.7 !important;
  font-size: 21px !important;
}

.wmde-markdown ol {
  list-style: auto !important;
}

.wmde-markdown ul {
  list-style: inside !important;
}

.w-md-editor-toolbar {
  height: 50px !important;
}

.w-md-editor-toolbar li>button {
  width: 40px !important;
  height: 40px !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

.w-md-editor-toolbar li>button>svg {
  width: 20px !important;
  height: 20px !important;
  align-content: center !important;
  vertical-align: middle !important;
  display: inherit !important;
}

.markdown>*:not(iframe):not(blockquote) {
  all: revert;
}

blockquote {
  margin-top: 0;
  margin-bottom: 16px;
  padding: 0 1em;
  color: #576061;
  border-left: 0.25em solid #d0d7de;
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.zoom-image {
  transition: transform 0.5s ease;
}

.zoom-image:active {
  transform: scale(2);
  z-index: 10;
}

.click-effect {
  animation: click-animation 0.2s ease-out;
}

@keyframes click-animation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}